/**
 * Quicktip styles
 */

.quicktip__container {
    display: inline-block;
    position: relative;
}

.quicktip__content {
    display: inline-block;
    background: lightgrey;
    position: absolute;
    white-space: nowrap;
    z-index: 1000;
}

.quicktip__message {
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
}


.quicktip__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.quicktip__direction--top .quicktip__arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: lightgray;
}

.quicktip__direction--right .quicktip__arrow{
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: lightgray;
}

.quicktip__direction--left .quicktip__arrow {
    top: 50%;
    right: -5px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: lightgray;
}

.quicktip__direction--bottom .quicktip__arrow {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: lightgray;
}

.quicktip__content--hide {
    display: none;
}

.quicktip__content.quicktip__direction--right {
    left: 100%;
    bottom: 50%;
    margin-bottom: -10%;
    margin-left: 5%;
}

.quicktip__content.quicktip__direction--left {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    margin-bottom: -10%;
}

.quicktip__content.quicktip__direction--top {
    top: -100%;
    left: -50%;
    margin-top: -15px;
    margin-left: 5%;
}

.quicktip__content.quicktip__direction--bottom {
    top: 100%;
    left: -50%;
    margin-top: 5%;
    margin-left: 10%;
}

/*
* Quicktip ends here
 */





/* 
// Examples Stylesheet
// -------------------
*/

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.usecase {
    margin: 10%;
}

.success {
    background: green;
    color: white;
}

.success > .quicktip__arrow{
    border-left-color: green;
}

